<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SportStudioModel.Properties.Settings.sportstudiodbConnectionString"
            connectionString="server=localhost;user id=root;database=sportstudiodb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>